name: Deploy Nuxt to Pages

on:
  push:
    branches: ["master"] # Hoặc master tùy bạn đặt tên

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 1. Cài đặt pnpm
      - uses: pnpm/action-setup@v3
        with:
          version: 9

      # 2. Setup Node
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      # 3. Chạy lệnh generate để tạo ra folder .output/public (Static site)
      - name: Static HTML export with Nuxt
        run: pnpm run generate

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Nuxt 3/4 xuất file tĩnh ra thư mục này
          path: .output/public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4